@media only screen and (min-width: 700px) {
    header h1 {
        text-align: left;
    }
    .nav{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #reservation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
        width: 100%;
        margin-top: 15px;
    }
    #reservation section { 
       margin-right: 10px;
    }
    #reservation input[type="submit"] {
        margin-top: -10px;
    }
    input#adults {
        margin-right: 20px;
    }
    .featured {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .featured img {
        width: 65%;
        max-width: 500px;
        margin-right: 10px;
    }
    .summary {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    .summary img {
        max-width: 500px;
    }
    #copy {
        text-align: right;
    }
    footer section {
        margin-bottom: -20px;
    }
    iframe, #figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #figcaption, #address {
        text-align: center;
        font-weight: 200i;
    }
    header a:hover {
        border-bottom: 3px solid #003468;
    }
    .flex img{
        max-width: 800px;
    }
    #contact form {
        flex-direction: column;
        margin-left: 400px !important;
    }
    .image {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap; 
        align-items: unset;
    }
    .packages {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap; 
        align-items: unset;
    }
    .food {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    .foodpic {
        flex-direction: row;
        justify-content: center;
    }
    .standard img, .superior img, .exec img {
        width: 60%;
        margin-right: 5%;
    }
    .standard, .superior, .exec {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
    }
    form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #reserve {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    #reserve img {
        margin-right: 20px;
    }
    .card h3 {
        margin-top: -180px;
    }
    .card p {
        margin-bottom: 70px;
    }
    #mish p {
        margin-bottom: 30px;
    }
    #mish {
        margin-left: 0;
    }
    .flex {
        flex-direction: row;
    }
    .flex img {
        width: 500px;
    }
}