@media only screen and (min-width: 700px) {
    header h1 {
        text-align: left;
    }
    .nav{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #home form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #copy {
        text-align: right;
    }
    footer section {
        margin-bottom: -20px;
    }
    .amenities {
        width: 500px;
        height: 350px;
        padding-top: 80px;
        padding-left: 30px;
        position: absolute;
        margin-top: -440px;
    }
    .hero {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #figcaption, #address {
        text-align: center;
        font-weight: 200i;
    }
    #temple {
        margin-bottom: 300px;
    }
    header a:hover {
        border-bottom: 3px solid #003468;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .card {
        margin-right: 0px;
        margin-bottom: 80px;
        max-height: 425px;
    }
    #contact form {
        flex-direction: column;
        margin-left: 400px !important;
    }
    .image {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap; 
        align-items: unset;
    }
    .packages {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap; 
        align-items: unset;
    }
}