header, main {
    padding: 10px;
}
body {
    height: 100%;
    position: relative;
}
header, main, footer h3, footer p {
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Gotu', sans-serif;
    text-transform: uppercase;
    color: #797C80;
}
h4, p, a, li, form {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #797C80;
}
header h1 {
    text-align: center;
}
h4 {
    font-weight: 500;
}
header nav a {
    text-decoration: none;
    font-weight: 500;
    color: #797C80;
}
ul {
    list-style: none;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
header a:link {
    color: #797C80;
    line-height: 1.5em;
}
header a:visited {
    color: #797C80;
}
header a:hover {
    color: #003468;
    padding-bottom: 5px;
    font-size: 1.1em;
}
header a:active {
    color: #D3EAF5;
}
form {
    display: flex;
    flex-direction: column;
}
form div {
    padding-bottom: 10px;
}
#home input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://leahhall8.github.io/templeinn/images/calendar.jpg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
#home input {
    border-radius: 10px;
    width: 50px;
    text-align: center;
}
input#checkIn, input#checkOut  {
    width: 150px;
}
.hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.8;
}
.amenities {
    background-color: rgba(211, 234, 245, 0.6);
}
.summary {
    width: 500px;
    padding-left: 15px;
    padding-top: 10px;
}
iframe {
    display: none;
}
footer {
    background-color: #003468;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}
footer section {
    margin-bottom: 20px;
}
footer h3, footer p {
    color: white;
    line-height: 1.5em;
    padding-left: 20px;
}
#temple {
    position: absolute;
    margin-left: 50%;
    margin-top: -300px;
}
main h1 {
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 70px;
    padding-bottom: 60px;
}    
#services li, #amenities li {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 2em;
    width: 95%;
    list-style-type: disc;
}
.card img {
    width: 400px;
}
.card h3, .card p {
    padding-left: 15px;
    padding-right: 15px;
}
.card p {
    margin-bottom: 40px;
}
.card {
    width: 400px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 10px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    text-decoration: none;
    background-color: #003468;
    margin-left: 15px;
    padding: 10px;
    color: white;
}
.button:link {
    color: white;
}
.button:visited {
    color: white;
}
.button:hover {
    background-color: #205891;
    box-shadow: 0px 0px 10px;
}
.button:active {
    color: #797C80;
}
#address {
    color: #003468;
    line-height: .1em;
}
input#fullName{
    width: 100%;
}
input#email{
    width: 100%;
}
input#phoneNumber{
    width: 100%;
}
input#message{
    width: 100%;
    padding-bottom: 200px;
}
#figcaption, #address {
    text-align: left;
    font-weight: 200i;
}
.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.packages img {
    width: 350px;
}
#silver, #gold, #platinum {
    position: relative;
    margin-bottom: 10px;
}
.para {
    position: absolute;
    top: 40px;
    left: 80px;
}
#platinum .para {
    left: 50px;
}
#platinum .para a.button {
    margin-left: 75px;
}
.price {
    font-weight: bold;
    margin-bottom: 30px;
}
.para h2, .para p {
    color: black;
    text-align: center;
}
.packages a.button {
    margin-left: 45px;
}
.title {
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
}
.food, .foodpic {
    display: flex;
    flex-direction: column;
}
.foodpic img {
    width: 300px;
    margin-bottom: 50px;
}
.standard img, .superior img, .exec img {
    width: 100%;
}
.standard, .superior, .exec {
    display: flex;
    flex-direction: column;   
    text-align: center;
    align-items: center;
}
.superior {
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px 0px;
}
strike {
    font-weight: 400;
}
form {
    color: #003468;
}
abbr {
    color: #003468;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
input[type=number] {
    width: 40px;
}
input#comments{
    width: 100%;
    padding-bottom: 200px;
}
.number, #reserve form {
    color: #797C80;
}
#reserve .exec {
    margin-bottom: 50px;
}
input[type=submit] {
    text-decoration: none;
    background-color: #003468;
    padding: 10px;
    color: white;
}
input[type=submit]:link {
    color: white;
}
input[type=submit]:visited {
    color: white;
}
input[type=submit]:hover {
    background-color: #205891;
    box-shadow: 0px 0px 10px;
}
input[type=submit]:active {
    color: #797C80;
}
.location {
    align-items: center;
}
