header, main {
    padding: 10px;
}
body {
    height: 100%;
    position: relative;
}
header, main, footer h3, footer p {
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Gotu', sans-serif;
    text-transform: uppercase;
    color: #797C80;
}
h4, p, a, li, form {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #797C80;
}
header h1 {
    text-align: center;
}
h4 {
    font-weight: 500;
}
header nav a {
    text-decoration: none;
    font-weight: 500;
    color: #797C80;
}
ul {
    list-style: none;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
header a:link {
    color: #797C80;
    line-height: 1.5em;
}
header a:visited {
    color: #797C80;
}
header a:hover {
    color: #003468;
    padding-bottom: 5px;
    font-size: 1.1em;
}
header a:active {
    color: #D3EAF5;
}
#reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div {
    padding-bottom: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url(https://leahhall8.github.io/templeinn/images/calendar.jpg) no-repeat;
    width: 10px;
    height: 12px;
}
input#checkIn, input#checkOut  {
    width: 165px;
    margin-right: 10px;
}
input#adults {
    margin-right: 10px;
}
#reservation section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.hero {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    margin-bottom: 15px;
}
.featured {
    background-color: #F2F2F2;
    padding: 15px;
}
.featured img {
    width: 100%;
}
.amenities {
    width: 290px;
    height: 290px;
    background-image: linear-gradient(293deg,#927092 0%,#927092 50%,#b195b1 50%,#b195b1 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.amenities h2, .amenities p {
    color: white;
}
.amenities p {
    line-height: .5em;
}
.amenities h2 {
    margin-top: 30px;
}
.summary img {
    width: 100%;
    padding-top: 10px;
}
iframe, #figcaption {
    display: none;
}
footer {
    background-color: #003468;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}
footer section {
    margin-bottom: 20px;
}
footer h3, footer p {
    color: white;
    line-height: 1.5em;
    padding-left: 20px;
}
main h1 {
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 70px;
    padding-bottom: 60px;
}    
#services li, #amenities li {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 2em;
    width: 95%;
    list-style-type: disc;
}
.card img {
    width: 100%;
    max-width: 800px;
}
.card h3, .card p {
    padding-left: 15px;
    padding-right: 15px;
}
.card h3 {
    color: white;
    margin-top: -140px;
}
.card p {
    color: white;
    margin-bottom: 20px;
}
.card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.button1 {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: #003468;
}
.button1:link {
    color: #003468;
}
.button1:visited {
    color: #003468;
}
.button1:hover {
    background-color: #ffffff86;
}
.button1:active {
    color: #797C80;
}
.button {
    text-decoration: none;
    background-color: #003468;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.button:link {
    color: white;
}
.button:visited {
    color: white;
}
.button:hover {
    background-color: #205891;
    box-shadow: 0px 0px 10px;
}
.button:active {
    color: #797C80;
}
#address {
    color: #003468;
    line-height: .1em;
}
input#fullName{
    width: 100%;
}
input#email{
    width: 100%;
}
input#phoneNumber{
    width: 100%;
}
input#message{
    width: 100%;
    padding-bottom: 200px;
}
#figcaption, #address {
    text-align: left;
    font-weight: 200i;
}
.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.packages img {
    width: 350px;
}
#silver, #gold, #platinum {
    position: relative;
    margin-bottom: 10px;
}
.para {
    position: absolute;
    top: 40px;
    left: 80px;
}
#platinum .para {
    left: 50px;
}
#platinum .para a.button {
    margin-left: 75px;
}
.price {
    font-weight: bold;
    margin-bottom: 30px;
}
.para h2, .para p {
    color: black;
    text-align: center;
}
.packages a.button {
    margin-left: 45px;
}
.title {
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
}
.food, .foodpic {
    display: flex;
    flex-direction: column;
}
.foodpic img {
    width: 300px;
    margin-bottom: 50px;
}
.standard img, .superior img, .exec img {
    width: 100%;
}
.standard, .superior, .exec {
    display: flex;
    flex-direction: column;   
    text-align: center;
    align-items: center;
}
.superior {
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px 0px;
}
strike {
    font-weight: 400;
}
form {
    color: #003468;
}
abbr {
    color: #003468;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
input[type=number] {
    width: 40px;
}
input#comments{
    width: 100%;
    padding-bottom: 200px;
}
.number, #reserve form {
    color: #797C80;
}
#reserve .exec {
    margin-bottom: 50px;
}
input[type=submit] {
    text-decoration: none;
    background-color: #003468;
    padding: 10px;
    color: white;
}
input[type=submit]:link {
    color: white;
}
input[type=submit]:visited {
    color: white;
}
input[type=submit]:hover {
    background-color: #205891;
    box-shadow: 0px 0px 10px;
}
input[type=submit]:active {
    color: #797C80;
}
.location {
    align-items: center;
}
#mish {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}
#mish img {
    width: 400px;
}
#mish h3 {
    margin-top: -175px;
}
.flex {
    display: flex;
    flex-direction: column;
}
.flex img {
    width: 350px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.templecard {
    box-shadow: 0px 0px 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.templecard img {
    width: 100%;
}
.address {
    line-height: .5em;
}
#vancouverHistory, #loganHistory {
    width: 240px;
}
#barrHistory, #laieHistory {
    width: 260px;
}
#vancouverSchedule {
    width: 410px;
}
img.weatherImage, img.weatherImageB, img.weatherImageL, img.weatherImageLO {
    width: 60px;
}
article {
    line-height: 1.5em;
    background-color: #F2F2F2;
    color: black;
    width: 300px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    border: 5px #003468 dotted;
    width: 90%;
}
.weather {
    display: flex;
    flex-direction: row;
}
.specs {
    margin-top: 17px;
    margin-left: 15px;
}
.templecard {
    display: flex;
    flex-direction: column;
}
