//colors
$body-background-color: rgb(71, 131, 71);
$form-background-color: white;
$input-color: rgb(114, 106, 106);
$headlines-color : black;

body {
    background-color: $body-background-color;          
}