@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Poppins:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&display=swap');

html {
    max-width: 750px;
    margin: auto;
}
header h1 {
    background-color: #BA9F9D;
    border-radius: 5px;
    padding: 15px 35%;
    font-family: Lora, serif;
    font-weight: 700;
}
h2 {
    padding-top: 15px;
    font-family: Lora, serif;
}
hr {
    margin-bottom: 5px;
}
main a {
    color: crimson;
}
main {
    padding-bottom: 15px;
    font-family: Poppins, sans-serif;
}
img {
    float: right;
    width: 100px;
    margin-top: -80px;
    margin-right: 10px;
    filter: drop-shadow(0 0 0.75rem crimson);
}
footer a {
    color: black;
}
footer {
    background-color: #BA9F9D;
    color: black;
    border-radius: 5px;
    padding: 5px 25%;
    font-family: Lora, serif;
    font-size: .9em;
}
footer p {
    text-align: center;
}
#lastUpdate {
    color: white;
}
