@media only screen and (min-width: 300px) {
    .grid {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }
    #proximity {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #alignment {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #contrast {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}