@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

html {
    max-width: 1200px;
    margin: 0 auto;
}
h1,h2,h3 {
    font-family: Bebas Neue, sans-serif;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}
h4,p,a, li {
    font-family: Montserrat, sans-serif;
}
h4 {
    font-size: 1.5em;
}
p, p a {
    font-size: 1em;
}
a {
    font-size: 1.5em;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #88A096;
}
header p {
    margin-top: -50px;
}
header h1 {
    margin-top: 10px;
}
header a:link {
    color: white;
}
header a:visited {
    color: white;
}
header a:hover {
    color: #16302B;
}
header a:active {
    color: #98E2C6;
}
main a {
    color: #C08552;
}
main p {
    margin-top: -20px;
}
#ta img, .wide {
    width: 90%;
    margin-top: -50px;
}
#ta p {
    line-height: 2em;
}
#ta div p {
    line-height: 1em;
    width: 600px;
}
.circle {
    list-style: circle;
}
main {
    margin-bottom: 100px;
}
#gray {
    color: white;
    background: #88A096;
    padding: 20px 30px;
}
#jungle {
    color: white;
    background: #16302B;
    padding: 20px 30px;
}
#deer {
    color: white;
    background: #C08552;
    padding: 20px 30px;
}
#sea {
    color: white;
    background: #98E2C6;
    padding: 20px 30px;
}
#black {
    color: white;
    background: #000000;
    padding: 20px 30px;
}