@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.site-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}
.site-banner__left {
  background-color: $body-font;
  grid-column: 1/2;
  grid-row: 1/2;
}
.site-banner__left a {
  font-size: 2.5rem;
}
.site-banner__right {
  background-color: $byui-blue;
  grid-column: 2/7;
  grid-row: 1/2;
}
.site-banner__right a {
  float: right;
  font-size: 2rem;
}
div a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
h1 {
  display: none;
}
.byui {
  background-color: $light-gray;
  text-align: right;
}
.byui p {
  margin: 0;
  padding: 15px;
  font-family: "BYUI Open Sans";
  font-weight: 300;
}
#hero {
  margin: 10px;
  width: 95%;
}
.interest-box {
  width: 95%;
  margin: 10px;
}
.interest-box img{
  border: 1px solid $dark-gray;
  width: 100%;
  margin-bottom: -5px;
}
.interest-box a {
  font-family: "BYUI Open Sans";
  color: $link-blue;
}
.box-type {
  padding: 10px;
  border: 1px solid $dark-gray;
}
.arrow {
  float: right;
  font-weight: 400;
  font-size: 2rem;
  margin-top: -20px;
}
.dropdown {
  background-color: $light-gray;
  border: 1px solid $dark-gray;
  padding: 10px;
  margin: 10px;
  width: 95%;
}
.dropdown a {
  color: $body-font;
}
.down-arrow {
  float: right;
}
aside h2 {
  color: white;
  font-family: "BYUI Open Sans";
}
.resources h2 {
  background-color: $dark-gray;
  margin: 0;
  padding: 10px;
}
.resources {
  width: 95%;
  border: 1px solid $dark-gray;
  margin: 10px;
  background-color: $light-gray;
}
.resources a {
  font-family: "BYUI Open Sans";
  color: $link-blue;
}
.box-type2 {
  padding: 10px;
  border-bottom: 1px solid $dark-gray;
}
.box-bottom {
  padding: 10px;
}
.important-dates h2 {
  background-color: $byui-blue;
  margin: 0;
  padding: 10px;
}
.important-dates {
  width: 95%;
  margin: 10px;
}
.event {
  font-family: "BYUI Open Sans";
  font-size: .9rem;
}
.event p span {
  font-weight: bold;
}
.event p {
  padding: 10px;
  border-bottom: 1px solid $dark-gray;
}

