table, caption, tr, th, td {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

tr {
    background-color: #e7ffed
}

th, #nov {
    background-color: #628ca6;
    color: #ffffff;
}

caption, tfoot td {
    background-color: #7fb9c2;
}

tr:nth-child(odd) {
    background-color: #e7f0ed
}

caption {
    font-size: 2em;
    font-weight: 700;
}
tfoot td {
    font-size: .75em;
}

th {
    font-size: 1.1em;
}

table, caption {
    box-shadow: 10px 13px 19px 2px #628ca6;

}